* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: var(--primary-color);
  font-family: var(--font-family-main);
  font-size: inherit;
}

body {
  font-size: var(--font-m);
  font-family: var(--font-family-main);
}
