.button {
  cursor: pointer;
  padding: 6px 15px;

  &:disabled {
    opacity: 0.5;
    transition: 0.3s opacity ease 0s;
    cursor: wait;
  }

  &.clear,
  &.clearInverted {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  &.clearInverted {
    background-color: var(--bg-inverted-color);
    color: var(--primary-inverted-color);
  }

  &.outline {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  &.outline_red {
    background-color: #fff;
    color: var(--red-light);
    border: 1px solid var(--red-light);
  }

  &.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
  }

  &.backgroundInverted {
    background-color: var(--bg-inverted-color);
    color: var(--primary-inverted-color);
  }

  &.square {
    padding: 0;
    border: none;

    &.size_l {
      width: var(--fs-line-l);
      height: var(--fs-line-l);
    }

    &.size_m {
      width: var(--fs-line-m);
      height: var(--fs-line-m);
    }

    &.size_xl {
      width: var(--fs-line-xl);
      height: var(--fs-line-xl);
    }
  }

  &.size_l {
    font: var(--font-l);
  }

  &.size_m {
    font: var(--font-m);
  }

  &.size_xl {
    font: var(--font-xl);
  }
}
