.app_blue_theme {
  --bg-color: #2e64ff;
  --bg-inverted-color: #0038ff;
  --primary-color: #00abd6;
  --primary-inverted-color: #f4f5fb;
  --secondary-color: #f4f5fb;
  --secondary-inverted-color: #00abd6;
  --icon-color: #f4f5fb;
}
