.app_light_theme {
  --bg-color: #e8e8ea;
  --bg-inverted-color: #090949;
  --primary-color: #0232c2;
  --primary-inverted-color: #04ff04;
  --secondary-color: #0449e0;
  --secondary-inverted-color: #049604;
}
