.navbar {
  background-color: var(--bg-inverted-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;

  min-height: var(--nav-height);

  &__links {
  }

  &__link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}