.sidebar {
  position: relative;
  padding: 5px 30px;
  transition: width 0.3s ease 0s;
  width: var(--sidebar-width);
  height: calc(100vh - var(--nav-height));
  background-color: var(--bg-inverted-color);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto;

  &.collapsed {
    width: var(--sidebar-width-collapsed);
    padding: 5px 20px;
  }

  &__collapse {
    position: absolute;
    bottom: 32px;
    right: -32px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  &__icon {
    fill: var(--primary-inverted-color);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;

    .sidebar.collapsed & {
      flex-direction: column;
    }
  }
}
