.profile {
  padding: 20px 15px;
  border: 2px solid var(--bg-inverted-color);

  &_loading,
  &_error {
    min-height: 180px;
    display: grid;
    place-items: center;
  }

  &_editing {
    border: 2px solid var(--primary-inverted-color);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__meta {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__input {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
